<router-outlet />

<div class="container mt-5 col-md-6">
  <div class="card p-4" style="background: linear-gradient(90deg, rgba(90, 90, 230, 0.711) 0%, rgba(90, 90, 230, 0.662) 100%);">
    <h1 class="text-center mb-4">ការទស្សន៍ទាយស្លាកលេខ</h1>
    
    <!-- Input for license plate -->
    <div class="mb-3">
      <!-- <label for="license-plate" class="form-label">សូមបញ្ចូលស្លាកលេខ</label> -->
      <input
        id="license-plate"
        type="text"
        class="form-control"
        [(ngModel)]="licensePlate"
        placeholder="សូមបញ្ចូលស្លាកលេខ"
        maxlength="4"
      />
    </div>

    <!-- Button to calculate numerology -->
    <button class="btn btn-primary w-100 mb-3" (click)="calculateNumerology()">ចាប់ផ្តើមទស្សន៍ទាយ</button>

    <!-- Error message -->
    <p *ngIf="errorMessage" class="alert alert-danger text-center">{{ errorMessage }}</p>

    <!-- Result display -->
    <p *ngIf="result && !errorMessage" class="alert alert-info text-center">លទ្ធផល៖ {{ result }}</p>

    <!-- Button to toggle instructions visibility -->
    <button class="btn btn-info w-100 mt-3" (click)="toggleInstructions()">ការណែនាំ</button>

    <!-- Instructions section, initially hidden -->
    <div *ngIf="showInstructions" class="mt-3 alert alert-info">
      <h4>ការណែនាំ</h4>
      <p>តើស្លាកលេខឡានឬម៉ូតូបែបណា ទើបចាត់ទុកជាលេខហុងស៊ុយល្អ?</p>
      <p>មិនថាជនជាតិ​ចិន ប្រជាជនអាស៊ី រួមទាំង​ខ្មែរ​នោះទេ សុទ្ធសឹងមានជំនឿ​លើហុងស៊ុយ ស្លាក​លេខ​រថយន្តឬម៉ូតូ ដោយគេជឿ​ថា លេខទាំងនោះមាន​ឥទ្ធិពលលើរាសីរបស់ម្ចាស់យានជំនិះ។ស្លាក​លេខហុងស៊ុយ មិនសម្ដៅដល់លេខ៣ខ្ទង់ដូចៗគ្នា ឬលេខការរ៉េឡើយ។</p>
      <p>សូមបញ្ចូលស្លាកលេខដែលមានចំនួន ៤ លេខត្រឹមត្រូវ។</p>
      <p>ការចាប់ផ្តើមទស្សន៍ទាយ៖ សូមបញ្ចូលស្លាកលេខនៅក្នុងប្រអប់ជម្រើស ហើយចុច "ទស្សន៍ទាយ" ដើម្បីទទួលបានលទ្ធផលការទស្សន៍ទាយ។</p>
    </div>
  </div>
</div>

